@{
    ViewData["Title"] = "奕智博";
}
<h1>測驗結束</h1>
<div class="jumbotron jumbotron-fluid" style="background-image: linear-gradient( 135deg, #F05F57 10%, #360940 100%);color:#fff;margin-top:5vh;margin-bottom:5vh;">
    <div class="container">
        <h1 class="display-4">答案卷已提交</h1>
        <hr />
        <p class="lead text-right">感謝您作答請稍後</p>
    </div>
</div>